/* Header styles */
#header {
    background-color: #b41010; /* Light gray background */
    padding: 15rem;
    text-align: center;
    height: 100%;
}

#header-text {
   
    font-size: "15rem","bold";
    color: #230eac; /* Change color as needed */
    background-color: #1c67b2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-style: italic;
}


#artist-credit {
    font-size: 0.8rem; /* Change font size as needed */
    color: #a81212; /* Change color as needed */
    background-color: #63db27c1;
}

/* Search city input styles */
#search-city {
    width: 100%;
    border-radius: 0; /* Remove border radius */
    background-color: #210faa;
    color:#7590a3;
    font-style: italic;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #210faa;
}

/* City results list styles */
#city-results {
    list-style-type: none; /* Remove list bullet points */
    margin-top: 1.6rem;
    background-color: #0c139c;
    color:#7590a3;
    font-style: italic;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #210faa;
}

/* Clear storage link styles */
#clear-storage {
    color:#589917;
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin-top: 1.6rem;
    background-color: #12579c;
}

/* Content right styles */
#content-right {
    padding-top: 1.6rem;
    color: #0c139c;
}

/* Current weather container styles */
#current-weather {
    background-color: #c36b14; /* Light gray background */
    border:#a210a2; /* Border color */
    border-radius: 0.25rem; /* Border radius */
    padding: 1rem; /* Padding */
}

/* Five day forecast container styles */
#five-day-forecast {
    background-color: #c36b14; /* Light gray background */
    margin-top: 25px; /* Margin top */
    color-scheme: height;
}
/* Media queries */
@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {
    #fiveDayForecastUl{
        justify-content: center;
    }
}